.morado{
	height: 150px;
	width: 150px;
	position: relative;
	background-color: violet;
	left: 75px;
	top: 75px;
}
.amarillo{
	height: 70px;
	width: 70px;
	position: absolute;
	background-color: yellow;
}
.rojo{
	height: 300px;
	width: 300px;
	position: static;
	background-color: red;
}